{% extends 'basic.html' %}

{% block main %}

 <div class="container">
        <div class="row m-4">
            <div class="col-lg-6 mx-auto">
                <div class="border shadow">
                    <h1 class="m-5">Create An Account</h1>

   
                            {% if error %}
                            <div class="alert alert-danger m-5" role="alert">

                                <strong><p style="color:red; text-align: left;">{{ error }}</strong>
                                
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></p>

                            </div>
                            {% endif %}


                            <form method="post" class="m-5">
                                {% csrf_token %}
                            <div class="form-group m-2 ">

                                <label>First Name:</label>
                            
                                <input type="text" name="first_name" class="form-control" required><br>


                                <label>Last Name:</label>
                                <input type="text" name="last_name" class="form-control" required><br>

                                <label >Email </label>
                                <input type="email" name="email"class="form-control" required><br>

                                <label>Phone Number:</label>
                                <input type="number" name="phone_no" class="form-control" required><br>

                                <label>Password:</label>
                                <input type="password" name="password" class="form-control" required><br>
                            </div>
                                <button type="submit" class="btn btn-outline-dark mt-4">Register</button>
                            </form>
                            <p class="m-5">Already registered? <a href="{% url 'login' %}">Login here</a></p>


                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}